@{
    ViewData["Title"] = "Home Page";
    var transient = (Objeto)ViewBag.transient;
    var scoped = (Objeto)ViewBag.scoped;
    var singleton = (Objeto)ViewBag.singleton;
}

<div class="text-center">
    <b>Transient -> </b>@transient.valorActual()
    <b>Scoped -> </b>@scoped.valorActual()
    <b>Singleton -> </b>@singleton.valorActual()
</div>
